---
###############################################################################
# Configure Cluster Cron
###############################################################################
# Create custom cronjobs to execute on the PVE cluster node.
#
# Args:
#   job: str cron job name (pve_cron.{JOB}).
#   config: dict cron job configuration (pve_cron.{JOB}.*).

- name: 'Cron | set standard scheduling sync'
  when: config.special_time is not defined
  ansible.builtin.cron:
    name: 'pve custom cron {{ job }}'
    month: '{{ config.month | default("*") }}'
    weekday: '{{ config.weekday | default("*") }}'
    day: '{{ config.day | default("*") }}'
    hour: '{{ config.hour | default("*") }}'
    minute: '{{ config.minute | default("*") }}'
    user: '{{ config.user }}'
    job: '{{ config.job }}'
    cron_file: 'pve_custom_cron_{{ job }}'
    state: '{{ config.state | default("present") }}'

- name: 'Cron | set special time sync'
  when: config.special_time is defined
  ansible.builtin.cron:
    name: 'pve custom cron {{ job }}'
    special_time: '{{ config.special_time }}'
    user: '{{ config.user }}'
    job: '{{ config.job }}'
    cron_file: 'pve_custom_cron_{{ job }}'
    state: '{{ config.state | default("present") }}'
